* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: @base-font-family;
}

body {
  background-color: @base-background-color;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: @primary-color;
  position: sticky;
  top: 0;
  left: 0;

  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
  }
}
